- name: Patching the installer script
  block:
  - name: Commenting out license accept script (part 1)
    lineinfile:
      dest: "{{ teledyne_install_loc }}/current_version/DALSA/GigeV/bin/install.gigev"
      regexp: '# Display the license information and get acceptance/rejection.'
      insertbefore: '^# Display the license information and get acceptance/rejection.'
      line: ": ' # Display the license information and get acceptance/rejection."
      backup: no

  - name: Commenting out license accept script (part 2)
    lineinfile:
      dest: "{{ teledyne_install_loc }}/current_version/DALSA/GigeV/bin/install.gigev"
      regexp: '# Here we will need the sudo password set up to copy to installation dir.'
      insertbefore: '^# Here we will need the sudo password set up to copy to installation dir.'
      line: "' # Here we will need the sudo password set up to copy to installation dir."
      backup: no

- name: Running installer
  block:

    - name: Finding all installer files
      find:
        paths: "{{ teledyne_install_loc }}/current_version/DALSA/"
	patterns: "install.gigev"
	recurse: yes
      register: installer_file

    - name: Installing SDK
      shell: "{{ installer_file.files[0].path }} >> {{ teledyne_install_loc }}/current_version/DALSA/setup.log"
      args:
        chdir: "{{ installer_file.files[0].path | dirname }}"
	executable: bash
	creates: "{{ teledyne_install_loc }}/current_version/DALSA/setup.log"
      register: install_log

  - name: Making sure installation was successful
    shell: cat "{{ teledyne_install_loc }}/current_version/DALSA/setup.log"
    register: failed_in_logs
    notify: rollback

- name: Adding environment variables
  blockinfile:
    block: "{{ lookup('file', role_path + '/defaults/env.txt') }}"
    dest: "/home/mohitsharma44/.bashrc"
    marker: "# --- {mark} ANSIBLE MANAGED BLOCK --- #"
    insertafter: EOF
    backup: no
